<!DOCTYPE HTML>
<html>
<head>
    <title>Quizzes</title>
</head>
<h1>Lista de preguntas</h1>
<table>
   <%for(var i in quizzes) { %>
   <%var quiz =quizzes[i]; %>
   <tr>
       <td>
          <a href="/quizzes/<%=quiz.id%>"><%=quiz.question%></a>
        </td>
    </tr>
   <%} %>
</table>
 