<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' 
    href='/stylesheets/style.css' />
  </head>

  <body>
    <h1> The <%= title %> Site </h1>
    <a href="/"> Home</a>
  	<a href="/author"> Author </a>
    <a href="/credits"> Credits </a>
    <a href="/quizzes"> Quizzes </a>
    <h1> Welcome to <%= title %></h1>
    <p> The website where you can create your own games!</p>
    <a href="http://en.wikipedia.org/wiki/Quiz"> What is a Quiz?</a>
  </body>
</html>
